.student-card {
    width: fit-content;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    /* align-items: center; */
}

.student-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.student-avatar2  {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    margin-bottom: 15px;
}
.student-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.student-details p {
    margin-bottom: 8px;
}

/* Add more styles as needed */
